.navlinks{display: flex;text-transform: capitalize;}
.navlinks li a{padding: 0 10px;color: rgb(50, 48, 48);font-weight: 600;
opacity: 0.8;}
@media (max-width:950px){
    .navlinks {flex-direction: column;}
    .navlinks {padding-right: 10px;}
    .navlinks li {padding: 15px;
    border-top: 1px solid rgb(230, 229, 229);}
    .navlinks li:last-child{border-bottom: 1px solid rgb(235, 234, 234);}
}